.write-container {
  width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Pretendard', sans-serif;
}

.write-top-nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-btn {
  font-size: 15px;
  text-decoration: none;
  color: #343a40;
  border: 1px solid #ced4da;
  padding: 6px 12px;
  border-radius: 6px;
  background: #ffffff;
  transition: 0.15s;
}
.write-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #212529;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #495057;
}

.input-group input,
.input-group textarea {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #22b8cf;
  box-shadow: 0 0 0 2px rgba(34, 184, 207, 0.2);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.submit-btn {
  background-color: #f1f3f5;;
  color: #495057;
}

.submit-btn:hover {
  background-color: #f1f3f5;;
}

.reset-btn {
  background-color: #f1f3f5;
  color: #495057;
}

.reset-btn:hover {
  background-color: #e9ecef;
}
